body {
  background: black;
  text-align: center;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  overflow: hidden;
 }
 
 #gameArea {
  display: flex;
  justify-content: center;
  align-items: center;
 }
 
 canvas {
  border: 2px solid #FFFFFF;
  box-sizing: border-box;
  width: 100%;
  height: 50%;
 }
 
 h1 {
  color: #FFFFFF;
  margin-top: 5px;
  font-size: 2em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  letter-spacing: -1px;
 }
 
 h1 strong {
  font-size: 1.35em;
  display: inline-block;
  margin: 0 0.25em;
 }
 
 a {
  text-decoration: none;
  color: #FFFFFF;
 }
 
 h2 strong {
  display: inline-block;
  margin: 0 0.25em;
 }
 
 .btn {
  display: none;
 }
 
 #restartButton {
  display: none;
  font-size: 1em;
  padding: 10px 20px;
  margin-top: 5px;
  cursor: pointer;
 }
 
 #mobileControls {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

#mobileControls button {
  background-color: #000;
  color: #fff;
  border: 2px solid #fff;
  padding: 5px 10px;
  margin: 3px;
  font-size: 1.5em;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, color 0.3s;
}

#mobileControls button:active {
  background-color: #fff;
  color: #000;
}
 
 #mobileControls div {
  display: flex;
  justify-content: center;
 }

 #highScoreSection {
  margin-top: 10px;
  text-align: center;
}

#highScorePopup {
  background-color: #111;
  border: 2px solid #fff;
  padding: 10px;
  border-radius: 10px;
  display: none; /* Zobrazuje sa len pri highscore */
}

#highScorePopup input {
  padding: 5px;
  margin: 5px;
}

#highScorePopup button {
  padding: 5px 10px;
  cursor: pointer;
}

 